{% extends 'partials/base.html' %}
<!-- {% load static %} -->

{% block title %}
<title> Password Reset </title>
{% endblock %}

{% block header %}
{% include 'partials/header.html' %}
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card w-75 mb-3 shadow">
                <div class="card-header mb-3"> 
                    Password reset
                </div>

                <hr>
                <div class="alert alert-info">
                    Enter email and a mail will be sent with instructions to reset password
                </div>

                <div class="card-body">    
                    <form method="POST" >
                        {% csrf_token %}
                        {{ form|crispy }}

                        <button type="submit" class="btn btn-primary"> Resend Password </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}